:root {
	--bg: #202537;
  --bgCard: #14161D;
}
 
nav {
  background-color: var(--bgCard);
  width: 100%;
  transition: all 0.3s;
  height: 100%;
}

.botao_dashboard, .botao_camera {
  color: white;
  list-style: none;
  background-color: var(--bg);
  border: none;
  border-radius: 10px;
  width: 8rem;
  text-align: center;
  transition: all 0.3s;
  margin: 0 1rem;

    &:hover {
    color: white;
    background-color: var(--bgCard);
    box-shadow: #5e5e5e 0px 0px 10px 0px;
  }
 }

.botoes {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  
}

@media (max-width: 991px) {

  .botoes {
    display: block;
    margin: 1rem 1rem;
  }
 
  .botao_dashboard, .botao_camera {
    width: 20%;
    margin: 0.8rem 0;
  }
}